/*General*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-image: url("imagenes/fondo.png");
}
/*Nav*/
header{
  background:#D8AF39;
  padding: 10px 40px 10px 40px;
}
nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.logoStudiosG{
  flex: auto;
}
.funFacts{
  display: inline-flex;
  padding: 0 20px;
}
.searchInput{
  height: 31px;
  width: 170px;
  display: flex;
  background: #ebe9e9;
  border-radius: 5px;
  align-items: center;
}
.searchInput #search-Icon{
 height: 31px;
 width: 135px;
 border: none;
 background: #ebe9e9;
 border-radius: 5px;
 font-size: 14px;
 color: #4C413F;
 font-weight: bold;
 padding-left: 10px;
}
.searchInput #iconSearch{
  width: 40px;
  line-height: 31px;
  text-align: center;
  background: #ebe9e9;
  border-radius: 5px;
  padding: 0 10px;
  color: #4C413F;
}
.searchInput #iconSearch:hover{
  background:#4C413F;
  color:#ebe9e9;
  cursor: pointer;
}
/*Main*/
.initialPicture {
  flex: auto;
}
.initialPicture .kikisPicture{
  width: 100%;
  height: 707px;
}
.posterText{
  font-weight: 800;
  color: #4C413F;
  background: rgba(255, 250, 250, 0.39);
  font-style: normal;
  position: absolute;
  width: 100%;
  height: 133px;
  top: 662px;
}
#bigText{
  font-size: 64px;
  text-align: right;
  margin-right: 85px;
  font-style: normal;
}
#smallText{
  font-size: 45px;
  text-align: right;
  margin-right: 85px;
  font-style: normal;
}
/* div con todas los posters */

/* tarjeta global */

/* tarjeta frontal */



/* tarjeta trasera */



/*Footer*/
footer {
  background:#D8AF39;
  padding: 10px 40px 10px 40px;
  height: 68px;
  display: flex;
  justify-content: center;
}
.footerItems {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  font-size: medium;
  color: white;
  justify-content: space-around;
  flex-direction: row;
}
.footerContent {
  margin: 5px;
}
.footerItemsbt a{
  color: #ebe9e9;
}
/*@media screen and (max-width: 1052px) {
 nav{
  padding 10px 40px 10px 40px;
  }
}
.movieList {
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  padding: 1.8rem;*/